body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center center;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

img{ 
    transform-origin:50% 50%;
	animation:2s rotate infinite linear; 
}

@keyframes rotate{
    100%{ transform:rotate(360deg); }
}

.center {
	max-width: 50%;
  }